# compilation and distribution
__pycache__
*.pyc
*.so
ext/build/
ext/torch_extension.egg-info/
dist/
*.egg-info

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.DS_Store

# png和xml
*.png
*.xml

# output
output/vgg_ssd300_voc0712
output/vgg_ssd512_voc0712
output

# 其他
1.原作者ssd代码，用于参考

.vscode
outputs
